@model EProSeed.Models.ReportModel

<div class="col-md-11" id="reportPartial">

    <div class="form-group">
        <label>Trainer Name : </label>@Html.LabelFor(x => x.TrainerName, Model.TrainerName)

    </div>

    <div class="form-group">
        <label>Number of Trainees : </label>@Html.DisplayFor(m => m.NumberofInductees, new { @class = "form-control" })

    </div>

    <div class="form-group">
        <span class="success"  >@Html.DisplayFor(m => m.BatchAverage, new { @class = "form-control", @id = "batchAverage" })</span>
        <label>Batch Average </label>
    </div>

</div>